[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/BlossomFilm/venv/bin/uwsgi -i /srv/BlossomFilm/.config/uwsgi/blossom.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
